In [169]:
import pandas as pd
import os
from dotenv import load_dotenv
import smtplib
from datetime import date
from datetime import datetime


load_dotenv()
mail=sender_mail
password=pw

In [170]:
date.today()

datetime.date(2024, 12, 7)

In [187]:
dfc=pd.read_csv("/Users/carlosgarcia/Desktop/DataProjects/clientes.csv")

In [188]:
dfc

      nombre  apellido fecha_de_nacimiento empresa               correo
0     Andres  Gonzales            24/03/69       a     andres@gmail.com
1    Mariana     Perez            25/03/94       b    mariana@gmail.com
2    Enrique   Mendoza            26/03/74       c    enrique@gmail.com
3     Andrea     Ortiz            27/03/86       d     andrea@gmail.com
4     Felipe   del Rio            07/12/83       e     felipe@gmail.com
5     Sergio    Garcia            07/12/92       g     sergio@gmail.com
6  Estefania  Mendivil            17/03/75       f  estefania@gmail.com

In [189]:
dfc.dtypes

nombre                 object
apellido               object
fecha_de_nacimiento    object
empresa                object
correo                 object
dtype: object

In [195]:
cumpleaneros=[]

dfc['fecha_de_nacimiento'] = pd.to_datetime(dfc['fecha_de_nacimiento'], format='%d/%m/%y', errors='coerce')


for index, row in dfc[(dfc["fecha_de_nacimiento"].dt.day==date.today().day)&(dfc["fecha_de_nacimiento"].dt.month==date.today().month)].iterrows():
    fila_dict = row.to_dict()
    cumpleaneros.append(fila_dict)
    
anio=date.today().year

for x in cumpleaneros:
    anios_cliente=(x["fecha_de_nacimiento"].year)
    print(f"Sent from: comunicaciones@prodensa.com")
    print(f"To: {x['correo']}")
    print(f"Subject: ¡Feliz cumpleaños, {x['nombre']}!")
    print(f"  ")
    print(f"¡Te deseamos un excelente dia {x['nombre']} {x['apellido']}, en este tan especial {anio-anios_cliente} cumpleaños!")
    print(f"  ")
    print(f"Firma de correo corporativa")
    print(f"  ")
    print(f"  ")

Sent from: comunicaciones@prodensa.com
To: felipe@gmail.com
Subject: ¡Feliz cumpleaños, Felipe!

¡Te deseamos un excelente dia Felipe del Rio, en este tan especial 41 cumpleaños!

Firma de correo corporativa


Sent from: comunicaciones@prodensa.com
To: sergio@gmail.com
Subject: ¡Feliz cumpleaños, Sergio!

¡Te deseamos un excelente dia Sergio Garcia, en este tan especial 32 cumpleaños!

Firma de correo corporativa